/* *{
    border: 1px solid black;
} */

body{
    max-width: 100%;
    max-height: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #757170;
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

main{
    max-height: 100%;
    display: flex;
    justify-content: center;
}

/*=============================================
=            Start of Nav Era                =
=============================================*/

nav{
    max-width: 100%;
    min-height: 100%;
}


.main-ul{
    /* Flex shiat */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100px;
    flex-wrap: wrap;
    /* Flex shiat */
    list-style: none;
    padding: 0;
    margin-top: 0;
    min-width: 100%;
    min-height: 100%;
}

.main-ul li, a{
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    padding: 15px;
    letter-spacing: 1.1px;
    
    /* Adds a cool ease transition.. wow. */
    transition: all 0.5s ease 0s;

    
}

.main-ul a:hover{
    color: #dadada;
}

a:target{
    color: white;
}

/*=============================================
=               End of Nav Era                =
=============================================*/

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 200px;
}

header h1{
    text-decoration: underline;
}

.flex-c{
    display: flex;
    justify-content: space-around;
    flex: 1 1 368px;
    flex-wrap: wrap;  
    max-width: 50%;
    margin: 0 auto;
}

.bottle{
    max-height: 300px;
    max-width: 368px;

    animation: fadeIn ease 2s;
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

.info{
    justify-self: flex-end;
    align-self: center;
    max-width: 30%;
    padding: 10px;
    font-size: 20px;
    animation: fadeIn ease 2s;
}

footer{
    
    /* This placed the footer at the bottom of the page (Where it belongs) */
    position: fixed;
    left: 0;
    bottom: 0;
    max-height: 20%;
    width: 100%;
    background-color: #a19c9a;
    padding: 0;
    margin: 0;
}

.flex-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 100px;
    flex-wrap: wrap;
}

.title-f{
    font-size: 18px;
    padding-left: 5px;
}

.mail{
    color: black;
    font-size: 16px;
    padding: 0;
}
.mail:hover{
    color: white;
}

.fas{
    padding-left: 5px;
}

/*=============================================
=            Contact form css incoming       =
                (Brace yourself)             =
=============================================*/

*:focus {
    outline: none;
}

.contact-form{
    margin:0px;
    padding:0px;
}

.contact-form li:first-child, .contact-form li:last-child {
    border-bottom:1px solid rgb(0, 0, 0);
}


.contact-form h3 {
    margin: 0;
    display: inline;
}




.contact-form ul{
    width:750px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}

.contact-form li{
    padding:12px; 
    position:relative;
}

.contact-form label{
    
    width:150px;
    margin-top: 3px;
    
    float:left;
    padding:3px;
}

.contact-form input{
    padding: 7px;
    height:20px; 
    width:220px; 
    padding:5px 8px;

    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}

.contact-form textarea {
    padding:8px; width:300px;

    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
.contact-form button {
    margin-left:156px;
}

.contact-form input:focus, .contact-form textarea:focus {
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 

    padding-right:70px;
    transition: padding .25s;
}