/* *{
    border: 1px solid black;
} */

body{
    max-width: 100vw;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: #cacaca;
    box-sizing: border-box;

    padding: 0;

    display: flex;
    flex: 1 1 100px;  
    flex-flow: column wrap;


    overflow: auto;
}

main{
    height: 100%;
    display: flex;
    justify-content: center;
    flex: 1 1 100px;
    flex-wrap: wrap;
}

/* This is for the footer, to keep it at the bottom where it belongs */
.page-container{
    position: relative;
    min-height: 100%;
}

.content-wrap{
    /* Give padding bottom the same value as the height of the footer */
    padding-bottom: 20%;
}



/*=============================================
=            Start of Nav Era                =
=============================================*/

nav{
    max-width: 100%;
    min-height: 100%;
}



.main-ul{
    /* Flex shiat */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100px;
    flex-wrap: wrap;
    /* Flex shiat */
    list-style: none;
    padding: 0;
    margin-top: 0;
    min-width: 100%;
    min-height: 100%;
}

.main-ul li{
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    padding: 15px;
    letter-spacing: 1.1px;
    
    /* Adds a cool ease transition.. wow. */
    transition: all 0.5s ease 0s;
}

.link{
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    padding: 15px;
    letter-spacing: 1.1px;
    
    /* Adds a cool ease transition.. wow. */
    transition: all 0.5s ease 0s;
}

/* To change current link, add some JS magic ;) */
.current-link{
    color: #000000; 
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: underline;
}

.main-ul a:hover{
    color: #a0a0a0;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: underline;
    transition: font-size 2s;
}

/*=============================================
=               End of Nav Era                =
=============================================*/

.flex-c{
    display: flex;
    justify-content: space-around;
    flex: 1 1 368px;
    flex-wrap: wrap;  
    max-width: 50%;
    margin: 0 auto;
}

.bottle{
    max-height: 387px;
    max-width: 750px;
    animation: fadeIn ease-in-out 2s; /* ease-in-out gives the animation slow start and slow end */
}


/* Animation for fade in */
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

.info{
    align-self: center;
    max-width: 30%;
    padding: 10px;
    font-size: 20px;
    animation: fadeIn ease-in-out 2s;
}


/*=============================================
=            Middle section of html page      =
=============================================*/

section{
    min-width: 100%;
    min-height: 100%;
    padding-top: 50px;  
    
}

.middle-content{
    width: 100%;
    background:  #ac8080;
    
}

.middle-info{
    width: 40%;
    padding: 10px;
    margin-left: 5%;
    margin-bottom: 7%;
}

.middle-info h3 {
    color: #ffff;
    text-decoration: underline;
    text-shadow: 1px 1px #000000;
}

.middle-info p{
    font-size: 1rem;
    color: #ffff;
    text-shadow: 1px 1px #000000;
}


/* The reviews in the middle of the page */
.flex-re{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    flex: 1 1 100px;

    padding: 15px 15px;
}

.re1{
    font-size: 1rem;
    width: 10%;
    color: #ffff;
    align-self: flex-end;
    margin-right: 12%;
    text-shadow: 1px 1px #000000;
    animation: fadeIn ease 5s;
}
.re2{
    font-size: 1rem;
    width: 10%;
    color: #ffff;
    margin-right: 7%;
    text-shadow: 1px 1px #000000;
    animation: fadeIn ease 7s;
}

.re3{
    font-size: 1rem;
    width: 10%;
    color: #ffff;
    align-self: flex-start;
    margin-left: 10%;
    text-shadow: 1px 1px #000000;
    animation: fadeIn ease 9s;
}
.re4{
    font-size: 1rem;
    width: 10%;
    color: #ffff;
    margin-left: 35%;
    text-shadow: 1px 1px #000000;
    animation: fadeIn ease 11s;
}
.re5{
    font-size: 1rem;
    width: 10%;
    color: #ffff;
    margin-right: 20%;
    text-shadow: 1px 1px #000000;
    animation: fadeIn ease 13s;
}


/*=============================================
=             Style for about.html            =
=============================================*/

.welcome{
    width: 50%;
}

.welcome h2{
    text-align: center;
}



/*=============================================
=      Footer incoming, brace yourself lad    =
=============================================*/

footer{ 
    /* This placed the footer at the bottom of the page (Where it belongs) */
    position: absolute;
    bottom: 0%;
    /* If you change this you must change the padding bottom at .content-wrap */
    max-height: 20%;
    width: 99%;
    padding: 0;
    margin: 0;
    border-top: 1px solid black;
    background: #202020;
    
}

.footer-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
   
    width: 100%;
}

.footer-wrapper a:hover{
    text-decoration: underline;
}

.footer-first{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    color: #414141;
    width: 25%;
}

.footer-first-links{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    color: #ffff;
    width: 100%;
}



.footer-first-links a{
    color: #ffff;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    padding: 15px;
    letter-spacing: 1.1px;
}


.footer-first h3{
    align-self: center;
    color: #ffff;
}

.footer-second{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    color: #ffff;
    width: 25%;
    font-size: 14px;
}

.footer-second i{
    padding: 0px 15px;
}

.footer-second a{
    color: #ffff;
    color: #ffff;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    padding: 15px;
    letter-spacing: 1.1px;
}



.footer-third{
    display: flex;
    flex-flow: column nowrap;
    width: 25%;
    color: #ffff;
}

.footer-third h3{
    padding-top: 30px;
    margin: 0;
}

.footer-third p{
    width: 240px;
}

/*=============================================
=            Contact form css incoming       =
=               (Brace yourself)             =
=============================================*/

*:focus {
    outline: none;
}

.contact-form{
    margin:0px;
    padding:0px;
}

.contact-form li:first-child, .contact-form li:last-child {
    border-bottom:1px solid rgb(0, 0, 0);
}


.contact-form h3 {
    margin: 0;
    display: inline;
}

.contact-form ul{
    width:750px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}

.contact-form li{
    padding:12px; 
    position:relative;
}

.contact-form label{
    
    width: 150px;
    margin-top: 3px;
    
    float: left;
    padding: 3px;
}

.style{
    padding: 7px;
    height: 20px; 
    width: 220px; 
    padding: 5px 8px;

    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
}

.contact-form textarea {
    padding: 8px; 
    width: 300px;
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 2px;
    resize: none;
}

/* When you hover over a text field it becomes longer */
.style:hover {
    background: #fff; 
    border: 1px solid #555; 
    box-shadow: 0 0 3px #aaa; 

    padding-right: 70px;
    transition: padding .50s;
}

/* When you click on a text field it stays long */
.style:focus{
    padding-right: 70px;
}

/* style for the button */
.submit {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px;
    left: 155px;
    width: 90px;
    box-sizing: border-box;
}

.submit:hover{
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.bouncy{
    animation:bouncy 5s infinite linear;
    position: relative;
}
@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}

.not-valid{
    border: 2px solid red !important;
}

.valid{
    border: 2px solid green !important; 
}

.hide{
    display: none !important;
}

/* Style for success message */
.success{
    width  : 100%;
    padding: 0;
    font-size: 15px;
    color: white;
    background-color:green;
    border-radius: 2px;
    box-sizing: border-box;
}

/* Style for error message */
.error {
    width: 100%;
    padding: 0;
    font-size: 15px;
    color: white;
    background-color: #900;
    border-radius: 2px;
    box-sizing: border-box;
  }

/* Styles for after submit text */
.success2{
    width: 50%;
    padding: 0;
    font: 15px;
    color: white;
    background-color: rgb(0, 153, 8);
    box-sizing: border-box;
    border: 1px solid black;
    left: 155px;
}

.error2{
    width: 50%;
    padding: 0;
    font: 15px;
    color: white;
    background-color: #900;
    box-sizing: border-box;
    border: 1px solid black;
    left: 155px;
}

/*=============================================
=            Media incoming                  =
=============================================*/

/*=============================================
=            Max width 1360px                 =
=============================================*/

@media only screen and (max-width: 1360px){
    .info{
      
        align-self: center;
        max-width: 40%;
        max-height: 80%;
        /* padding: 10px; */
        font-size: 15px;
        animation: fadeIn ease 2s;
    }

    .bottle{
        max-height: 230px;
        max-width: 180px;
    
        animation: fadeIn ease 2s;
    }

    /* Reviews */
    .re1{
        width: 200px;     
    }
    .re2{
        width: 200px;         
    }
    
    .re3{ 
        width: 200px;       
    }
    .re4{ 
        width: 200px;        
    }
    .re5{
        width: 200px; 
    }
}



/*=============================================
=            Max width 800px                 =
=============================================*/

@media only screen and (max-width: 800px){
    nav{
        max-width: 100%;
        min-height: 100%;
    }
    
    .main-ul li, a{
        padding: 10px;       
    }
    

    .flex-c{
        flex-flow: column-reverse wrap;
        align-items: center; 
        max-width: 100%;
    }

    .bottle{
        max-height: 250px;
        animation: fadeIn ease 2s;
    }

    .info{  
        max-width: 50%;
        animation: fadeIn ease 2s;
    }

    .middle-info{
        width: 70%;
    }
}


/*=============================================
=                 For mobile                 =
=============================================*/

@media only screen and (max-width: 500px){

    .info{        
        max-width: 80%;     
        font-size: 17px;       
    }

    .middle-info{
        width: 80%;
    }

    .re1{
        align-self: center;
        margin: 0;    
    }
    
    .re2{
        align-self: center;
        margin: 0;  
    }

    .re3{
        align-self: center;
        margin: 0;
    }

    .re4{    
        align-self: center;
        margin: 0;      
    }

    .re5{
        align-self: center;
        margin-right: 0;
    }

    /* Contact.html page */
    
    .contact-form ul{
        width: 350px;
        padding-bottom: 50px;
    }

    .contact-form li{
        padding: 8px;
    }

    .style:hover, .contact-form textarea:hover{
        padding-right: 0px;
        transition: none;
    }
    .submit {
        left: 0px;     
    }

    /* about.html page */
    .welcome{
        width: 90%;
        height: 500px;
    }
    
    .welcome h2{
        text-align: center;
    }

    /* This is for the footer, to keep it at the bottom where it belongs */
    .page-container{
        position: relative;
        min-height: 100vh;
    }

    .content-wrap{
        /* Give padding bottom the same value as the height of the footer */
        padding-bottom: 20%;
    }

    footer{ 
        /* This placed the footer at the bottom of the page (Where it belongs) */
        /* For mobile it worked to give position relative instaed of absolute to make the footer not cover any content */
        /* So position absolute for pc and position relative for mobile */
        position: relative;      
        width: 100%;        
    }

    .footer-first{
        width: 100%;
    }
    
    .footer-first-links{
        padding-bottom: 30px;
    }
    
    .footer-first-links a{
        color: #ffff;  
    }
    
    .footer-second{
        align-items: center;
        width: 100%;
        font-size: 15px;
    }
    
    .footer-third{
        width: 100%;
        align-items: center;
    }
}
