/* *{
    border: 1px solid black;
} */

body{
    max-width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #cacaca;
    box-sizing: border-box;

    padding: 0;

    display: flex;
    flex-direction: column;
    flex: 1 1 100px;
    flex-wrap: wrap;

    overflow: auto;
}

main{
    height: 100%;
    display: flex;
    justify-content: center;
    flex: 1 1 100px;
    flex-wrap: wrap;
}

/* This is for the footer, to keep it at the bottom where it belongs */
.page-container{
    position: relative;
    min-height: 100vh;
}

.content-wrap{
    /* Give padding bottom the same value as the height of the footer */
    padding-bottom: 20%;
}

/*=============================================
=            Start of Nav Era                =
=============================================*/

nav{
    max-width: 100%;
    min-height: 100%;
}


.main-ul{
    /* Flex shiat */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 100px;
    flex-wrap: wrap;
    /* Flex shiat */
    list-style: none;
    padding: 0;
    margin-top: 0;
    min-width: 100%;
    min-height: 100%;
}

.main-ul li, a{
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    padding: 15px;
    letter-spacing: 1.1px;
    
    /* Adds a cool ease transition.. wow. */
    transition: all 0.5s ease 0s;

    
}

.main-ul a:hover{
    color: #a0a0a0;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: underline;
}

/*=============================================
=               End of Nav Era                =
=============================================*/

.flex-c{
    display: flex;
    justify-content: space-around;
    flex: 1 1 368px;
    flex-wrap: wrap;  
    max-width: 50%;
    margin: 0 auto;
}

.bottle{
    max-height: 387px;
    max-width: 750px;

    animation: fadeIn ease 2s;
}


/* Created the animation for fade in */
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

.info{
   
    align-self: center;
    max-width: 30%;
    padding: 10px;
    font-size: 20px;
    animation: fadeIn ease 2s;
}


/*=============================================
=            Middle section of html page      =
=============================================*/

section{
    min-width: 100%;
    min-height: 100%;
    padding-top: 50px;  
    box-sizing: border-box;
}

.middle-content{
    width: 100%;
    background:  #ac8080;
    box-sizing: border-box;
}

.middle-info{
    width: 40%;
    padding: 10px;
    margin-left: 5%;
    margin-bottom: 7%;
}

.middle-info h3 {
    color: #ffff;
    text-decoration: underline;
    text-shadow: 1px 1px #000000;
}

.middle-info p{
    color: #ffff;
    text-shadow: 1px 1px #000000;
}

.flex-re{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 100px;

    padding: 15px 15px;
}

.re1{
    width: 10%;
    color: #ffff;
    align-self: flex-end;
    margin-right: 12%;
    text-shadow: 1px 1px #000000;
    animation: fadeIn ease 5s;
}
.re2{
    width: 10%;
    color: #ffff;
    margin-right: 7%;
    text-shadow: 1px 1px #000000;
    animation: fadeIn ease 7s;
}

.re3{
    width: 10%;
    color: #ffff;
    align-self: flex-start;
    margin-left: 10%;
    text-shadow: 1px 1px #000000;
    animation: fadeIn ease 9s;
}
.re4{
    width: 10%;
    color: #ffff;
    margin-left: 35%;
    text-shadow: 1px 1px #000000;
    animation: fadeIn ease 11s;
}
.re5{
    width: 10%;
    color: #ffff;
    margin-right: 20%;
    text-shadow: 1px 1px #000000;
    animation: fadeIn ease 13s;
}



footer{
    
    /* This placed the footer at the bottom of the page (Where it belongs) */
    position: absolute;
    box-sizing: border-box;
    bottom: 0%;
    /* If you change this you must change the padding bottom at .content-wrap */
    max-height: 20%;
    width: 100%;
    background-color: #a19c9a;
    
}

.flex-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 100px;
    flex-wrap: wrap;
}

.title-f{
    font-size: 18px;
    padding-left: 5px;
}

.mail{
    color: black;
    font-size: 16px;
    padding: 0;
}
.mail:hover{
    color: white;
}

.fas{
    padding-left: 5px;
}

/*=============================================
=            Contact form css incoming       =
                (Brace yourself)             =
=============================================*/

*:focus {
    outline: none;
}

.contact-form{
    margin:0px;
    padding:0px;
}

.contact-form li:first-child, .contact-form li:last-child {
    border-bottom:1px solid rgb(0, 0, 0);
}


.contact-form h3 {
    margin: 0;
    display: inline;
}

.contact-form ul{
    width:750px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}

.contact-form li{
    padding:12px; 
    position:relative;
}

.contact-form label{
    
    width:150px;
    margin-top: 3px;
    
    float:left;
    padding:3px;
}

.style{
    padding: 7px;
    height:20px; 
    width:220px; 
    padding:5px 8px;

    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}

.contact-form textarea {
    padding:8px; width:300px;

    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}

.style:hover, .contact-form textarea:hover {
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 

    padding-right:70px;
    transition: padding .50s;
}

/* style for the button */
.submit {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 10px;
    left: 155px;
    width: 90px;
    box-sizing: border-box;
}

.submit:hover{
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.bouncy{
    animation:bouncy 5s infinite linear;
    position: relative;
}
@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}


/* Style for success message */
.success{
    width  : 100%;
    padding: 0;
    font-size: 15px;
    color: white;
    background-color: rgb(0, 153, 8);
    border-radius: 2px;
    box-sizing: border-box;
}

/* Style for error message */
.error {
    width  : 100%;
    padding: 0;
    font-size: 15px;
    color: white;
    background-color: #900;
    border-radius: 2px;
    box-sizing: border-box;
  }
  
 


/* Styles for after submit text */
.success2{
    width: 50%;
    padding: 0;
    font: 15px;
    color: white;
    background-color: rgb(0, 153, 8);
    box-sizing: border-box;
    border: 1px solid black;
    left: 155px;
}

.error2{
    width: 50%;
    padding: 0;
    font: 15px;
    color: white;
    background-color: #900;
    box-sizing: border-box;
    border: 1px solid black;
}


/*=============================================
=            Media incoming                  =
=============================================*/


@media only screen and (max-width: 800px){
    nav{
        max-width: 100%;
        min-height: 100%;
    }
    
    
    .main-ul{
        /* Flex shiat */
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 100px;
        flex-wrap: wrap;
        /* Flex shiat */
        list-style: none;
        padding: 0;
        margin-top: 0;
        min-width: 100%;
        min-height: 100%;
    }
    
    .main-ul li, a{
        display: inline-block;
        text-decoration: none;
        font-size: 16px;
        color: #000000;
        padding: 10px;
        letter-spacing: 1.1px;
        
        /* Adds a cool ease transition.. wow. */
        transition: all 0.5s ease 0s;
    
        
    }
    

    .flex-c{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        flex: 1 1 368px;
        flex-wrap: wrap;  
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }

    .bottle{
        max-height: 250px;
        max-width: 200px;
    
        animation: fadeIn ease 2s;
    }

    .info{
      
        align-self: center;
        max-width: 50%;
        max-height: 100%;
        /* padding: 10px; */
        font-size: 15px;
        animation: fadeIn ease 2s;
    }
}